In [18]:
p = 2
n = 4
val = 1
for i in range(n):
    val = val*p
    
for i in range(val):
    print(bin(i)[2:])

0
1
10
11
100
101
110
111
1000
1001
1010
1011
1100
1101
1110
1111
10000
10001
10010
10011
10100
10101
10110
10111
11000
11001
11010

In [19]:
table = []

for i in range(val):
    for j in range(val):
        table.append(bin((i+j) % val)[2:])
        
for i in range(len(table)):
    print(table[i]," ",end='')
    if((i+1)%val == 0):
        print('\n')

add1 = 16
add2 = 12

print(bin((add1+add2)%val)[2:])

0  1  10  11  100  101  110  111  1000  1001  1010  1011  1100  1101  1110  1111  10000  10001  10010  10011  10100  10101  10110  10111  11000  11001  11010

1  10  11  100  101  110  111  1000  1001  1010  1011  1100  1101  1110  1111  10000  10001  10010  10011  10100  10101  10110  10111  11000  11001  11010  0

10  11  100  101  110  111  1000  1001  1010  1011  1100  1101  1110  1111  10000  10001  10010  10011  10100  10101  10110  10111  11000  11001  11010  0  1

11  100  101  110  111  1000  1001  1010  1011  1100  1101  1110  1111  10000  10001  10010  10011  10100  10101  10110  10111  11000  11001  11010  0  1  10

100  101  110  111  1000  1001  1010  1011  1100  1101  1110  1111  10000  10001  10010  10011  10100  10101  10110  10111  11000  11001  11010  0  1  10  11

101  110  111  1000  1001  1010  1011  1100  1101  1110  1111  10000  10001  10010  10011  10100  10101  10110  10111  11000  11001  11010  0  1  10  11  100

110  111  1000  1001  1010  1011  1100  1101  1110  1111  10000  10001  10010  10011  10100  10101  10110  10111  11000  11001  11010  0  1  10  11  100  101

111  1000  1001  1010  1011  1100  1101  1110  1111  10000  10001  10010  10011  10100  10101  10110  10111  11000  11001  11010  0  1  10  11  100  101  110

1000  1001  1010  1011  1100  1101  1110  1111  10000  10001  10010  10011  10100  10101  10110  10111  11000  11001  11010  0  1  10  11  100  101  110  111

1001  1010  1011  1100  1101  1110  1111  10000  10001  10010  10011  10100  10101  10110  10111  11000  11001  11010  0  1  10  11  100  101  110  111  1000

1010  1011  1100  1101  1110  1111  10000  10001  10010  10011  10100  10101  10110  10111  11000  11001  11010  0  1  10  11  100  101  110  111  1000  1001

1011  1100  1101  1110  1111  10000  10001  10010  10011  10100  10101  10110  10111  11000  11001  11010  0  1  10  11  100  101  110  111  1000  1001  1010

1100  1101  1110  1111  10000  10001  10010  10011  10100  10101  10110  10111  11000  11001  11010  0  1  10  11  100  101  110  111  1000  1001  1010  1011

1101  1110  1111  10000  10001  10010  10011  10100  10101  10110  10111  11000  11001  11010  0  1  10  11  100  101  110  111  1000  1001  1010  1011  1100

1110  1111  10000  10001  10010  10011  10100  10101  10110  10111  11000  11001  11010  0  1  10  11  100  101  110  111  1000  1001  1010  1011  1100  1101

1111  10000  10001  10010  10011  10100  10101  10110  10111  11000  11001  11010  0  1  10  11  100  101  110  111  1000  1001  1010  1011  1100  1101  1110

10000  10001  10010  10011  10100  10101  10110  10111  11000  11001  11010  0  1  10  11  100  101  110  111  1000  1001  1010  1011  1100  1101  1110  1111

10001  10010  10011  10100  10101  10110  10111  11000  11001  11010  0  1  10  11  100  101  110  111  1000  1001  1010  1011  1100  1101  1110  1111  10000

10010  10011  10100  10101  10110  10111  11000  11001  11010  0  1  10  11  100  101  110  111  1000  1001  1010  1011  1100  1101  1110  1111  10000  10001

10011  10100  10101  10110  10111  11000  11001  11010  0  1  10  11  100  101  110  111  1000  1001  1010  1011  1100  1101  1110  1111  10000  10001  10010

10100  10101  10110  10111  11000  11001  11010  0  1  10  11  100  101  110  111  1000  1001  1010  1011  1100  1101  1110  1111  10000  10001  10010  10011

10101  10110  10111  11000  11001  11010  0  1  10  11  100  101  110  111  1000  1001  1010  1011  1100  1101  1110  1111  10000  10001  10010  10011  10100

10110  10111  11000  11001  11010  0  1  10  11  100  101  110  111  1000  1001  1010  1011  1100  1101  1110  1111  10000  10001  10010  10011  10100  10101

10111  11000  11001  11010  0  1  10  11  100  101  110  111  1000  1001  1010  1011  1100  1101  1110  1111  10000  10001  10010  10011  10100  10101  10110

11000  11001  11010  0  1  10  11  100  101  110  111  1000  1001  1010  1011  1100  1101  1110  1111  10000  10001  10010  10011  10100  10101  10110  10111

11001  11010  0  1  10  11  100  101  110  111  1000  1001  1010  1011  1100  1101  1110  1111  10000  10001  10010  10011  10100  10101  10110  10111  11000

11010  0  1  10  11  100  101  110  111  1000  1001  1010  1011  1100  1101  1110  1111  10000  10001  10010  10011  10100  10101  10110  10111  11000  11001

1